<div class="row bg-light align-items-end">
    <p class="col-sm my-1 text-muted text-left align-self-center">
        <i class="fas fa-code-branch"></i> <a referrerpolicy="origin" rel="noopener" href="https://github.com/svaldesoliva/malla-interactiva-uai" target="_blank">Github</a>
        <span class="mx-2">|</span>
        <i class="fas fa-share-alt"></i> <a href="#" id="loadfile" class="text-muted">Cargar Malla Compartida</a>
    </p>

    <p class="col-sm my-1 text-muted text-right align-self-center">
        Última actualización: <br> <span id="lastUpdate">No disponible</span>
    </p>
</div>
